# ==== Director API (obligatoire) ====
LP_DIRECTOR_URL=https://10.160.144.185
LP_DIRECTOR_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InN1Y2Nlc3MiOjEsIl9rZXkiOiIzOTQxMjYiLCJfaWQiOiJEQ1VzZXJzLzM5NDEyNiIsInVzZXJuYW1lIjoiYWRtaW4iLCJlbWFpbCI6ImFkbWluQGxvZ3BvaW50LmxkIiwicm9sZSI6ImFkbWluIiwidXNlcmdyb3VwcyI6W10sImFjdGl2ZSI6MCwiaXNfbmV3IjoxLCJwYXJlbnRfaWQiOiJyb290IiwicGFyZW50X2Rpc3BsYXlfbmFtZSI6InJvb3QiLCJhdXRoVHlwZSI6ImRjX2F1dGgifSwidG9rZW5VdWlkIjoiZTY4MmQwZjAtMTljYS00ODcyLWE2OWItNDllMGExN2Q3NGRkIiwidG9rZW5UeXBlIjoidXNlcl9nZW5lcmF0ZWQiLCJzY29wZSI6ImFkbWluIiwiaWF0IjoxNzU5NjYxOTM1fQ.FYOMEu_LWnT6kJoDdsPJUqo6l-wHMqQE2vDzbMjciYQ

# ==== Sécurité / HTTP ====
LP_VERIFY=true                  # false pour ignorer TLS (équiv. --no-verify)
LP_HTTP_TIMEOUT=30
LP_HTTP_PROXY=
LP_HTTPS_PROXY=
LP_HTTP_DEBUG=true             # true => log des requêtes (en-têtes)
LP_LOG_BODY_FULL=true          # true => log des corps (attention aux secrets)

# ==== Logs ====
LP_LOG_LEVEL=DEBUG              # DEBUG | INFO | WARN | ERROR
LP_LOG_JSON=true                # true si tu veux des logs JSON
LP_SUPPRESS_TLS_WARNINGS=true

# ==== Fichiers de config ====
LP_TENANTS_FILE=~tenants.yml

